.container { 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
    width: 100%;
}

.section-title { 
    text-align: center; 
    font-family: var(--font-head); 
    font-size: 24px; 
    text-transform: uppercase; 
    margin: 60px 0 30px; 
    letter-spacing: 1px; 
}
