*, *::before, *::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html {
    scroll-behavior: smooth;
}

body { 
    background-color: var(--bg-cream); 
    font-family: var(--font-body); 
    color: var(--text-dark); 
    line-height: 1.5; 
    overflow-x: hidden; 
    -webkit-font-smoothing: antialiased;
}

img {
    display: block;
    max-width: 100%;
}
