<div class="container">
    <nav class="navbar">
        <img src="https://lh3.googleusercontent.com/d/1IFyCf398asNx1krp73AbsKtdFid2_E_-" class="logo-img" alt="FemFlow Logo">
        <ul class="nav-links">
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Period Care</a></li>
            <li><a href="#">Pain Relief</a></li>
            <li><a href="#">Flow Quiz</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="nav-icons">
            <span class="icon-user" style="cursor:pointer;">👤</span>
            <div class="icon-cart" id="globalCartBtn">
                <span>🛒</span>
                <span class="cart-badge" id="globalCartCount">0</span>
            </div>
        </div>
    </nav>
</div>
