<section class="inside-box-sec">
    <img src="https://lh3.googleusercontent.com/d/1KdYf_8UThFyDdsSqLAAaGtf9uYnyaHLD" class="inside-box-img" alt="Inside Box Graphic">
    <div class="inside-content">
        <img src="https://lh3.googleusercontent.com/d/1IFyCf398asNx1krp73AbsKtdFid2_E_-" class="inside-logo" alt="Logo Small">
        <h3>What's Inside Your FemFlow Box?</h3>
        <ul class="inside-list">
            <li>3 Types of Flow-Based Pads (Light, Medium, Heavy)</li>
            <li>Cute Cycle Tracker</li>
            <li>User Guide</li>
            <li>Motivational Quotes to uplift your days</li>
        </ul>
        <a href="#" class="btn-pink shop-box-btn add-to-cart-trigger">Shop FemFlow Pack</a>
    </div>
</section>
