<h2 class="section-title">Designed For Your Unique Flow</h2>
<section class="flow-grid">
    <div class="flow-card-container">
        <img src="https://lh3.googleusercontent.com/d/1MaD-gJ-csH9CUCQkrx-D9VbzyDCqJHRI" class="flow-card-img" alt="Light Flow">
        <a href="#" class="flow-btn-overlay btn-light add-to-cart-trigger">Learn More</a>
    </div>
    <div class="flow-card-container">
        <img src="https://lh3.googleusercontent.com/d/1qM4urGv5BPLuKFaB4A353oIoTe28TmRR" class="flow-card-img" alt="Medium Flow">
        <a href="#" class="flow-btn-overlay btn-medium add-to-cart-trigger">Learn More</a>
    </div>
    <div class="flow-card-container">
        <img src="https://lh3.googleusercontent.com/d/1-VwQN8zLWh19k720t5abnIwA84Ylvj9i" class="flow-card-img" alt="Heavy Flow">
        <a href="#" class="flow-btn-overlay btn-heavy add-to-cart-trigger">Learn More</a>
    </div>
</section>
