<h2 class="section-title">Natural Pain Relief</h2>
<section class="pain-relief-sec">
    <div class="relief-item">
        <div class="relief-circle"><img src="https://lh3.googleusercontent.com/d/1Nd7rld05MfsG8s2n3rtElUsEYJbHzJyB" alt="Childs Pose"></div>
        <h5>Child's Care</h5>
        <p>Relieves cramps.</p>
    </div>
    <div class="relief-item">
        <div class="relief-circle"><img src="https://lh3.googleusercontent.com/d/18YTRLaB3ug7qbgvz7dRwEsmu6Lo6Ntz9" alt="Cat Cow"></div>
        <h5>Cat-Cow Stretch</h5>
        <p>Reduces back pain.</p>
    </div>
    <div class="relief-item">
        <div class="relief-circle"><img src="https://lh3.googleusercontent.com/d/1rIJm1h8lyqMBdGFFFr1NMZJhicz9skFq" alt="Supine Twist"></div>
        <h5>Supine Twist</h5>
        <p>Relaxes cramps.</p>
    </div>
    <div class="relief-item">
        <div class="relief-circle"><img src="https://lh3.googleusercontent.com/d/1EvfRrWbCy7vbznLYDTL3Ev3RpMdnasyL" alt="Deep Breathing"></div>
        <h5>Deep Breathing</h5>
        <p>Reduces stress.</p>
    </div>
    <div class="relief-item">
        <div class="relief-circle"><img src="https://lh3.googleusercontent.com/d/1XYiKJWQ2j32Ro5OMwlEczRw5N2bGq-dO" alt="Heat Therapy"></div>
        <h5>Heat Therapy</h5>
        <p>Quick relief.</p>
    </div>
    <div class="side-banner">
        <h4>LISTEN TO YOUR BODY ♡</h4>
        <img src="https://lh3.googleusercontent.com/d/1yhAw5AZLhue_wLzbDUoh2Fsurg8sFTbK" alt="Listen to Body Graphic">
    </div>
</section>
